* {
    box-sizing: border-box;
    margin:0;
    padding:0;
    width:100%;
}
.container {
    width: 70%;
    margin:0 auto;
    border: 5px solid gray;
    border-radius:5px;
}
h1 {
    text-align: center;
}
.threeUp {
    display: inline-block;
    width:200px;
    height:200px;
    border-radius:5px;
    height:auto;
    margin: 0 auto;
}
.threeUp:hover {
    border: 5px solid green;
    border-radius:5px;
}
.button {
    width:70%;
    height:40px;
    background-color: green;
    margin:0 auto;
}
#tally {
    text-align: center;
}